
.hero-section {
    position: relative;
    min-height: 724px;
    width: 100%;


}

.hero-section::after {
    content: "";
    display: block;
    background: url("/assets/images/hero-bg.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.hero-content-clue {
    gap: 8px;
    justify-content: center;
}

.hero-clue {
    color: #1C1C20;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.hero-clue span {
    color: #FF492C;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.hero-content-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-title {
    color: #434396;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.52px;
    margin-top: 16px;
}

.hero-title span {
    color: #1C1C20;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.52px;
    margin-top: 16px;
}

.hero-text {
    color: #1C1C20;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 24px;
    max-width: 1000px;


}

.hero-content-tools {
    gap: 24px;
    margin-top: 90px;
    justify-content: center;
    width: 100%;
}

.hero-white-btn {
    padding: 16px 80px;
    color: #434396;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid #434396;
    background: #FFF;
    max-width: 280px;
    width: 100%;
}

.hero-primary-btn {
    border-radius: 4px;
    padding: 16px 80px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    max-width: 280px;
    width: 100%;
}

.hero-bottom-text {
    margin-top: 150px;
    color: #B3B3FF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.hero-bottom-text span {
    color: #6161B4;

}


.services-section {
    position: relative;
    padding: 80px 0 120px;
    background: linear-gradient(90deg, #510AB3 0%, #00003A 33.33%, #00003A 66.67%, #083E72 100%);

}

.scraping-section {
    position: relative;
    padding: 80px 0 120px;
    background: linear-gradient(90deg, #0F0F62 0%, #05294C 33.33%, #05294C 66.67%, #3D0A9F 100%);
}

.datasets-section {
    position: relative;
    padding: 80px 0 120px;
    background: linear-gradient(90deg, #05294C 0%, #3D0A9F 33.33%, #3D0A9F 66.67%, #0F0F62 100%);

}

.services-section::after {
    content: "";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 70%;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;

}

.services-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;
}

.scraping-section::after {
    content: "";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 70%;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;

}

.scraping-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;
}

.datasets-section::after {
    content: "";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 70%;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;

}

.datasets-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;
}

.services-body::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    background-image: url('/assets/images/services-bg.png');
    background-repeat: no-repeat;
    top: -270px;
    left: -300px;
    width: 70%;
    transform: rotate(-5deg);
    z-index: -1;
}

.services-title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.services-body {
    position: relative;
    z-index: 1;
}

.services-catalog {
    margin-top: 50px;
    gap: 40px;
}

.services-catalog-item {
    color: #B3B3FF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: .3s;
}

.services-catalog-item::after {
    width: 100%;
    height: 1px;
    content: '';
    display: block;
    background: #434396;
    transition: .3s;

    margin-top: 10px;
}

.services-catalog-item:hover {
    color: #FFF;

}

.services-catalog-item.active {
    color: #FFF;

}

.services-catalog-item.active::after {
    background: #FFF;

}

.services-catalog-item:hover::after {
    background: #FFF;

}

.services-item-title {
    color: #1C1C20;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.services-price {
    gap: 4px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;

}

.service-advantage {
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
}

.services-price p {
    color: #1C1C20;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.services-price span {
    color: #434396;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.services-clue {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    max-width: 570px;
}

.scraping-clue {

    max-width: 580px;
}

.scraping-slides {
    margin-top: 74px;
}

.services-item {
    padding: 24px 20px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: #F9FAFB;
    backdrop-filter: blur(9px);
    gap: 16px;
    max-width: 268px;
    width: 100%;
    min-height: 440px;
}

.service-advantages {
    gap: 16px;
    flex: 1 1 auto;
}

.icon-service-advantage {
    background-color: rgba(125, 125, 130, 1);
}

.icon-service {
    font-size: 40px;

}

.service-advantage {
    gap: 5px;
}

.service-advantage-text {
    color: #171717;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 190px;
}

.service-advantage-text span {
    display: block;
}

.services-pagination {
    position: initial;
    display: flex;
    margin-top: 30px;
    gap: 10px;
    margin-left: -5px;
}

.datasets-pagination {
    display: flex;
    position: initial;
    margin-top: 32px;
    gap: 10px;
    margin-left: -2px;

}

.service-tools-more {
    gap: 2px;
}

.icon-arrow-gray {
    font-size: 12px;
    background: #218AEF;
    transition: .3s;

}

.service-tools-more:hover {
    text-decoration: underline;
    color: #218AEF;

}

.service-tools-more:hover .icon-arrow-gray {
    transform: translateX(4px);

}

.service-tools-expert {
    color: #1C1C20;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    transition: .3s;
}

.service-tools {
    gap: 10px;
}

.service-tools-expert:hover {
    color: #218AEF;

}

.service-tools-more span {
    color: #218AEF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.icon-service-advantage2 {
    font-size: 40px;
    background-color: rgba(125, 125, 130, 1);
}

.service-btn {
    padding: 12px 28px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scraping-btn {
    border-radius: 4px;
    padding: 12px 28px;
    max-width: 220px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 120px;
    line-height: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scarping-item-fon {
    width: 300px;
    height: 440px;
    background-repeat: round;
}

.services-clue {
    display: none;
}

.services-clue.active {
    display: block;
}

.scraping-swiper .swiper-slide {
    flex-shrink: 0;
    width: auto;
    transition: all 0.3s ease;
}

.scraping-swiper .swiper-slide.big-slide {
    min-width: 569px !important;
}

.scraping-swiper .swiper-slide.small-slide {
    max-width: 269px !important;

}

.icon-home-service {
    font-size: 40px;
    background-color: rgba(67, 67, 150, 1);
}

.icon-home-service2 {
    font-size: 40px;
    background-color: rgba(67, 67, 150, 1);
}

.icon-home-service3 {
    font-size: 40px;
    background-color: rgba(67, 67, 150, 1);
}

.icon-home-service4 {
    font-size: 40px;
    background-color: rgba(67, 67, 150, 1);
}

.icon-scrapingIcon {
    font-size: 40px;
    background: rgba(11, 83, 152, 1);
}

.icon-scrapingIcon2 {
    font-size: 40px;
    background: rgba(11, 83, 152, 1);
}

.icon-scrapingIcon3 {
    font-size: 40px;
    background: rgba(11, 83, 152, 1);
}

.services-slides {
    display: none;
}

.scraping-item-descr {
    gap: 16px;
    max-width: 270px;
    padding: 24px 0 24px 24px;
}

.scraping-item-title {
    color: #1C1C20;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.scraping-item {
    border-radius: 24px;
    background: #F9FAFB;
    min-width: 569px;
}

.scraping-item-text {
    color: #171717;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.services-slides.active {
    display: block;
}

.datasets-slides {
    display: none !important;
}

.datasets-catalog {
    display: none;
}

.datasets-catalog.active {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.datasets-item {
    padding: 29px 24px;
    border-radius: 24px;
    background: #FFF;
    flex: 1 1 23%;
    min-height: 300px;
}

.datasets-another-item {
    border-radius: 24px;
    background: #FFF;
    flex: 1 1 23%;
    min-height: 300px;
    overflow: hidden;
}

.datasets-text {
    margin-top: 21px;
    color: #171717;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
    flex: 1 1 auto;
    border-bottom: 1px solid #AB3FFF;
}

.datasets-tools {
    padding-top: 16px;
}

.icon-sotial {
    font-size: 40px;
    background: rgba(249, 250, 251, 1);
    margin-left: 20px;
}

.icon-sotial2 {
    font-size: 40px;
    background: rgba(249, 250, 251, 1);
    margin-left: 20px;
}

.icon-sotial3 {
    font-size: 40px;
    background: rgba(249, 250, 251, 1);
    margin-left: 20px;
}

.datasets-another-header {
    margin-top: 24px;
    gap: 10px;

}

.datasets-bg {
    width: 75px;
    height: 40px;
    margin-left: -2px;
}

.datasets-title {
    color: #1C1C20;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.datasets-padding {
    padding: 0 24px;
}

.datasets-tools-padding {
    padding: 16px 24px 24px 24px;
}

.proxy-slides {
    margin-top: 74px;
}

.swiper-pagination-bullet-active {
    background: #FFF;
}


.scraping-pagination {
    display: none;
}

.services-mobile-clue {
    display: none;
    padding-bottom: 32px;
}




@media (max-width: 1400px) {
    .services-section::after {
        width: 100%;
    }

    .scraping-section::after {
        width: 100%;

    }

    .datasets-section::after {
        width: 100%;

    }

}

@media (max-width: 1200px) {
    .scraping-pagination {
        position: initial;
        display: flex;
        margin-top: 32px;
        gap: 10px;
        margin-left: -5px;

    }

    .services-body::before {
        left: 20px;
        width: 100%;
        transform: rotate(0);
    }

}

@media (max-width: 992px) {
    .datasets-item {

        flex: 1 1 40%
    }

    .datasets-another-item {
        flex: 1 1 40%

    }

    .datasets-catalog.active {
        gap: 16px;
    }
}

@media (max-width: 768px) {


    .services-mobile-clue {
        display: block;
    }

    .services-section {
        background: linear-gradient(180deg, #00003A 0%, #083E72 50%, #510AB3 100%);

    }

    .swiper {
        overflow: unset;
    }

    .scraping-section {
        background: linear-gradient(180deg, #00003A 0%, #083E72 50%, #510AB3 100%);
    }


    .datasets-section {
        background: linear-gradient(180deg, #00003A 0%, #083E72 50%, #510AB3 100%);
    }

    .datasets-item {
        min-height: 300px;
        max-width: 268px;
    }

    .proxy-slides {
        margin-top: 40px;
    }

    .datasets-slides {
        display: block !important;
    }

    .services-section {
        padding: 45px 0 93px 0;
    }

    .scraping-section {
        padding: 45px 0 93px 0;
    }

    .datasets-section {
        padding: 45px 0 93px 0;

    }

    .services-title {
        font-size: 28px;
        line-height: normal;
    }

    .services-catalog {
        display: none;
    }

    .datasets-catalog.active {
        display: none;
    }

    .scraping-slides {
        margin-top: 0
    }

    .hero-title {
        font-size: 32px;
        line-height: normal;
        letter-spacing: -0.32px;
        margin-top: 34px;
    }

    .datasets-catalog.active {
        margin-top: 0;
    }

    .hero-title span {
        font-size: 32px;
        line-height: normal;
        letter-spacing: -0.32px;
    }

    .services-contents {
        gap: 56px;
    }


    .services-item{
        min-width: 268px;
        min-height: 440px;
        padding: 22px 20px;
    }
    .hero-content {
        padding-top: 106px;
    }



    .hero-btn {
        max-width: 280px;
        width: 100%;
        height: 60px;
    }

    .hero-text {
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        font-size: 20px;
        margin-top: 8px;
    }
    .hero-bottom-text{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 80px;
    }
    .hero-content-tools {
        margin-top: 64px;
        gap: 32px;
        width: 100%;
    }
    .hero-section{
         min-height: 532px;
    }
    .hero-section::after {
        background: url("/assets/images/hero-bgTablet.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .header-logo-desctop{
        max-width: 238px;
    }
    .services-mobile-clue h3 {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }


    .services-mobile-clue p {
        margin-top: 8px;
        color: rgba(255, 255, 255, 1);
        font-style: normal;
        opacity: .7;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

}

@media (max-width: 576px) {
    .hero-section::after {
        background: url("/assets/images/heroMobileBg.png");
        background-position: center;
    }
    .hero-content {
        padding-top: 128px;
    }
    .services-title {
        font-size: 24px;
        line-height: normal;
    }
    .services-section {
        padding: 40px 0 93px 0;
    }

    .services-mobile-clue p {
        font-size: 14px;
        font-style: normal;
        line-height: 21px;
    }
    .services-mobile-clue h3 {
        font-size: 18px;
        line-height: normal;
    }
    .hero-text {
        font-size: 16px;
        line-height: 150%;
        margin-top: 24px;
    }
    .hero-title {
        font-size: 28px;
        margin-top: 8px;
        line-height: 150%;
    }
    .hero-title span {
        font-size: 28px;
        line-height: 150%;
    }
    .hero-btn {
        max-width: 330px;

    }
    .icon-service {
        font-size: 30px;

    }
    .proxy-slides {
        margin-top: 32px;
    }
    .hero-content-tools {
        margin-top: 56px;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
    .hero-clue {
        font-size: 14px;
        line-height: 24px;
    }
    .hero-bottom-text {
        display: none;
    }
    .services-mobile-clue p {
        max-width: 330px;
    }
    .datasets-pagination {

        margin-top: 23px;


    }
    .hero-section {
        min-height: 588px;
    }
}